<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="api" value="https://localhost:7026/"/>
		<add key="ftp" value="http://printfusion.nhely.hu/test/"/>
		<add key="ftpServer" value="ftp://ftp.nethely.hu/test/"/>
		
		<add key="ftpUser" value="balintpejko@gmail.com"/>
		<add key="ftpPass" value="printfusion87877"/>
	</appSettings>
</configuration>