<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="api" value="https://localhost:7142/"/> <!--backend elérési útvonal-->
		<add key="ftp" value="http://printfusion.nhely.hu/test/"/> <!-- Nethely képek elérési útvonal-->
		<add key="ftpServer" value="ftp://ftp.nethely.hu/test/"/> <!--FTP szerver elérési útvonal -->
		<add key="ftpUser" value="balintpejko@gmail.com"/> <!--FTP felhasználónév-->
		<add key="ftpPass" value="printfusion87877"/> <!--FTP jelszó-->
	</appSettings>
</configuration>