*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'font-family: 'Dosis', sans-serif';
}
.form{

  position: relative;
}

.form .fa-search{

  top:20px;
  left: 20px;
  color: #4a8b64;

}

.selectpicker {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 12'%3e%3cpath d='M1 1l6 5-6 5' fill='%23343a40'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 12px;
}

.selectpicker::-ms-expand {
  display: none;
}

.form span{

  position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #378457;

}

.left-pan{
  padding-left: 7px;
}

.left-pan i{
 
 padding-left: 10px;
}

.form-input{

  height: 35px;
  border-radius: 10px;
}

.form-input:focus{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
a{
  text-decoration: none;
}
.nav-link{
  display: inline-block; 
  margin-bottom: 20px;
  align-items: center; 
  padding: 15px 15px;
  transition: background-color 0.5s ease; 
  text-decoration: none; 
  color: inherit; 
  border-radius: 25px;
  

}

.menupont{
  color:#01bf71;
}
.back-btn:hover{
    background-color: black;
    color:white;
}

.link{
  color: white;
  text-align: right;
  margin-right: 15%;
  float: right;
}

.link:hover{
  color: lightblue;
  cursor: grab;
}

.nav-link:hover{

  background-color: darkslategray;
  border-radius: 25px;
}

.input-container {
  display: flex;
  position: relative;
  align-items: center;
}

.input-container:focus {
  width: 100%;
  transition: 0.5s ease-in-out;
}

.input-wrapper {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.3s, height 0.3s;
}

.input-wrapper.show {
  opacity: 1;
  height: auto;
}
.search-bar{
  position: relative;
  width: 600px;
  margin-left: 35%;
}

.search-icon, .microphone-icon{
 color: white;
 margin:10px;
}

.card-body{
  background-color:#01bf71;

}

.cardbtn {
  transition: 0.3s;
}
.cardbtn:hover{
  width: 105%;
}

.result-box {
  min-width: 100%;
  padding: 5px 0px 0px 10px;
  font-weight: bold;
  text-align: left;
  border: black solid 1px;
  border-radius: 15px;
  background-color: lightgray;
  cursor: grab;
}

.result-container {
  min-width: 100%;
  position: absolute;
  overflow-y:scroll;
  max-height: 500px;
}

