*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'font-family: 'Dosis', sans-serif';
}
.form{

  position: relative;
}

.form .fa-search{

  position: absolute;
  top:20px;
  left: 20px;
  color: #209e52;

}
.selectpicker {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 12'%3e%3cpath d='M1 1l6 5-6 5' fill='%23343a40'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 12px;
}

.selectpicker::-ms-expand {
  display: none;
}

.form span{

  position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #209e52;

}

.left-pan{
  padding-left: 7px;
}

.left-pan i{
 
 padding-left: 10px;
}

.form-input{

  height: 35px;
  text-indent: 33px;
  border-radius: 10px;
}

.form-input:focus{

  box-shadow: none;
  border:none;
}
a{
  text-decoration: none;
}
.nav-link{
  display: inline-block; 
  margin-bottom: 20px;
  align-items: center; 
  padding: 10px 15px;
  transition: background-color 0.3s ease; 
  text-decoration: none; 
  color: inherit; 
  border-radius: 25px;
  background-color: white;

}

.nav-link:hover{

  background-color: lightslategray;
  border-radius: 25px;
}

.input-container {
  display: flex;
  align-items: center;
}
.search-icon {
  margin-left: 5px; 
}
.search-icon:hover {
  background-color: lightslategray;
  border-radius: 5px;
}
